@font-face {
    font-family: Helvetica;
    src: url(assets/Helvetica/);
}

body {
    margin: 0px;

    display: flex;
    overflow: hidden;
    position: relative;
    
    background: url(assets/login.png);
    background-size: cover;

    font-family: Helvetica, Arial;

    align-items: center;
    justify-content: center;

    height: 100vh;
}

span {
    color: #9C00FF;
}

.selection {
    display: flex;
    justify-content: center;
}   

.white {
    width: 514px;

    border-radius: 24px;

    background-color: white;
}

.balls {
    width: 16px;
    height: 16px;
    margin: 32px 10.5px;

    border-radius: 120px;

    background-color: #929292;
}

img {
    margin: 32px 0px 16px 0px;
}

#maintitle {
    color: black;
    font-size: 24px ;
    text-align: center;
    justify-content: center;

    margin-bottom: 48px;
}

#purpleballs {
    width: 16px;
    height: 16px;
    margin: 32px 10.5px;

    border-radius: 120px;

    background-color: #9C00FF;
}

.button {
    display: flex;
    width:152px;
    height: 32px;

    border: 2px solid #9C00FF;

    font-size: 16px;
    font-weight: 900;
    border-radius: 24px;

    margin: 32px 61px 44px 61px;

    align-items: center;
    justify-content: center;

    color: #9C00FF;
    text-decoration: none;
}

#specialbutton {
    color: white;
    background-color: #9C00FF;
}