@font-face {
    font-family: Helvetica;
    src: url(../Helvetica-Font);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Helvetica;
    background-color: #070707;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: white;
}

/* -------hotbar------- */

#barrinha {
    top: 0px;
    z-index: 1;
    position: sticky;
}
#logobar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#logohot {
    height: 48px;
    width: 48px;
}
#textologo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 16px;
}
#barrasepar {
    background-color: white;
    width: 2px;
    height: 33px;
    margin: 0px 0px 0px 24px;
}
.textohotbar {
    color: white;
    margin-left: 24px;
}
#hotbar{
    height: 58px;
    position: sticky;
    width: 100vw;
    background-color: #212020;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32vw;
    top: 7px;
    margin-top: -35px;
    z-index: 1;
}
#simbolo {
    height: 32px;
    width: 30px;
    margin-left: 24px;
}
#idioma {
    color: white;
    font-size: 14px;
    margin-left: 16px;
}
#selecao {
    margin-left: 8px;
}
#lupa {
    height: 32px;
    width: 32px;
}
#login {
    height: 32px;
    width: 80px;
    background-color: white;  
    margin-left: 24px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}
#cadastro {
    height: 32px;
    width: 135px;
    background-color: #9C00FF;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: white;
    margin-left: 24px;
}
.bloc_head{
    display: flex;
    align-items: center;
}

/* -------Botão FAQ------- */

#faq {
    position: sticky;
    left: 93vw;
    top: 88vh;
    opacity: 50%;
}
#faq:hover {
    opacity: 110%;
    cursor: pointer;
}

/* -------Banner------- */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 581px;
    margin: 0px 0px 24px 80px;
    color: white;
    background: url(Assets/Foguete.png);
    background-repeat: no-repeat;
}
#titulo{
    width: 484px;
    font-size: 48px;
}
#texto{
    width: 611px;
    font-size: 20px;
}
.botao {
    background-color: #9C00FF;
    color: white;
    width: 216px;
    height: 46px;
    border-radius: 16px;
    margin-top: 32px;
    font-size: 15px;
    font-weight: bold;
}
#confiravalia {
    margin-left: 15px;
    background-color: #070707;
    border: solid 1;
    border-color: #9C00FF;
}


#cadastro:hover, #planos:hover, #confiravalia:hover, #login:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 150ms;
    opacity: 50%;
}
#cadastro:not(:hover), #planos:not(:hover), #confiravalia:not(:hover), #login:not(:hover) {
    cursor: pointer;
    transform: scale(1);
    transition: 150ms;
}
/* -------Softwears------- */

#apps{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#softwears {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#softuo {
    font-size: 40px;
    color: white;
    margin: 48px 0px 0px 0px;
}
#sobre  {
    width: 976px;
    text-align: center;
    font-size: 22px;
    color: white;
    line-height: 25.3px;
}
#coluna1 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.colunas {
    display: flex;
}
.titulos {
    margin: 10px 24px 8px 24px;
    font-size: 23px;
}
.banners {
    margin-left: 24px;
    margin-right: 24px;
    background-color: white;
    height: 355px;
    width: 349px;
    border-radius: 10px;
    line-height: 16.1px;
}
.textos {
    width: 301px;
    margin: 0px 24px 56px 24px;
    font-size: 14px;
    height: 46px;
}
#divisao {
    width: 301px;
    margin: 0px 24px 0px 24px;
}
.sabmais {
    width: 144px;
    height: 32px;
    border-radius: 12px;
    background-color: white;
    margin: 24px 0px 24px 180px;
    border: solid 1;
}
.sabmais:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 150ms;
    background-color: rgba(33, 32, 32, 0.3);
}
.sabmais:not(:hover) {
    cursor: pointer;
    transform: scale(1);
    transition: 150ms;
}
#sabdraw {
    border-color: #F43838;
    color: #F43838;
}
#sabedit {
    border-color: #BD9500;
    color: #BD9500;
}
#sabcount {
    border-color: #069C4E;
    color: #069C4E;
}
#sabcode {
    border-color: #9C00FF;
    color: #9C00FF;
}
#sabdesign {
    border-color: #FF52AA;
    color: #FF52AA;
}
#sabkeep {
    border-color: #4452AC;
    color: #4452AC;
}
#plangeral {
    margin-top: 50px;
    background-color: white;
    height: 355px;
    width: 1146px;
    border-radius: 10px;
}
#divisao2 {
    width: 1098px;
    margin: 0px 24px 0px 24px;
}
#textogeral {
    width: 1050px;
    margin: 0px 25px 56px 25px;
    font-size: 14px;
    height: 46px;
}
#sabgeral {
    width: 144px;
    height: 32px;
    margin: 25px 0px 25px 966px;
}
#sabgeral:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition:ease 150ms;
}

/* -------Avaliações------- */

#avaliacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#aval-block {
    display: flex;
}
#avaliatitle{
    color: white;
    font-size: 40px;
    margin-top: 48px;
}
#balaodecorativo {
    position: absolute;
    left: 0px;
    top: 2210px;
    z-index: -1;
}
#aval1, #aval2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #212020;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 800px;
    height: 456px;
    color: white;
}
#estrelas {
    margin-top: 33px;
    width: 210px;
    height: 35px;
}
#comentdivis {
    margin-top: 24px;
    width: 576px;
    color: #3F3F3F;
    opacity: 35%;
    background-image: url(Assets/Quotes.png);
}
#avaltext1 {
    margin-top: 34px;
    height: 246px;
    width: 602px;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}
#abrequote {
    position: absolute;
    top: 2360px;
    left: 320px;
}
#fechaquote {
    position: absolute;
    top: 2620px;
    right: 320px;
}

/* -------Avaliações------- */

#comunidade {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 126px;
}
#comunititle {
    color: white;
    font-size: 40px;
    margin-bottom: 0px;
}
#textocomunidade {
    width: 1008px;
    font-size: 22px;
    color: white;
    margin: 33px 0px;
    text-align: center;
}

/* -------Rodapé------- */
#aterodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#logo {
    height: 136px;
    width: 136px;
    margin-top: 167px;
}
#slogan {
    margin-top: 34px;
    width: 482px;
    height: 120px;
    font-size: 48px;
    color: white;
    text-align: center;
}
#textoantirod {
    margin-top: 0px;
    font-size: 14px;
    color: white;
}

/* -------Avaliações------- */

#rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    margin-top: 64px;
    height: 64px;
    width: 100vw;
    background-color: #212020;
}
#copyright {
    height: 23px;
    width: 220px;
}
#atalhos {
    color: white;
    margin-left: 120px;
}
#red {
    color: #F43838;
}
#purple {
    color: #9C00FF;
}
#blue {
    color: #4D5DC4;
}
#green {
    color: #4EF19E;
}